<% if resource.errors.any? %>
  <div class="container">
    <div class="alert alert-danger row">
      <div class="col-11">
        <div id="error_explanation">
          <h4><%= t("errors.messages.not_saved", count: resource.errors.count, resource: resource.class.model_name.human.downcase) %></h4>
          <ul>
            <% resource.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-1 justify-content-center">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  </div>
<% end %>
